/* geral */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: whitesmoke;
    padding-top: 100px;
}

.container {
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
}

/* header */

header {
    display: flex;
    align-items: center;
    margin-bottom: 32px;
}

header img {
    height: 48px;
    margin-right: 12px;
}

header h1 {
    font-size: 40px;
    font-weight: bold;
}

/* form */

form {
    justify-content: space-between;
    max-width: 720px;
    width: 100%;
    display: flex;
}

form input {
    height: 48px;
    width: 300px;
    border: 2px solid black;
    border-radius: 8px;
    padding-left: 12px;
    margin-right: 10px;
    background-color: rgba(100, 148, 237, 0.263);
}

input[type="number"]::-webkit-inner-spin-button, 
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

form button {
    height: 48px;
    width: 150px;
    border: none;
    border-radius: 8px;
    background-color: cornflowerblue;
    color: black;
    font-weight: bold;
    transition: 0.5s;
    margin-left: 6px;
}

form button:hover {
    cursor: pointer;
    background-color: rgb(31, 87, 193);
}

/* table */

table {
    width: 100%;
    margin-top: 24px;
}

table td {
    text-align: left;
    font-size: 20px;
    padding: 16px;
    border-bottom: 2px solid black;
}

table th {
    padding: 16px;
    font-size: 24px;
    font-weight: bold;
    border-bottom: 2px solid black;
    text-align: left;
}